entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Run Django"
author = 22854231
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python main.py runserver 0.0.0.0:5000"

[[workflows.workflow]]
name = "Run Backend"
author = 22854231
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python main.py runserver 0.0.0.0:5000"

[[workflows.workflow]]
name = "Run Frontend"
author = 22854231
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm start"

[[workflows.workflow]]
name = "Dev"
author = 22854231
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python main.py migrate_schemas --shared && python main.py runserver 0.0.0.0:5000"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm start"
